<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static',filename='js/funciones.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Perifericos_Style.css')}}">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="navtext">
                <a href="#" onclick="inicio()">Inicio</a>
                <a href="#" onclick="inicio()">Juegos</a>
                <a href="#" onclick="inicio()">Hardware</a>
                <a href="#" onclick="login()"></a>
            </div> 
        </div>
        <label for="" class="logo">
        <a class="logo" href=""><img src="{{ url_for('static',filename='imgs/Logo.png')}}" alt="Logo"></a>
        </label>
    </nav>
    <section class="Contenido">
        <div class="ListaProductos">
            <div class="oferta">

<!-- Productos -->

                <div class="producto">
                                        <div class="foto-producto">
                                            <img src="{{ url_for('static',filename='imgs/mouse.png')}}" alt="Productos">
                                            <h3 class="NameProducto">Mouse Gaming</h3>
                                            <p class="descripcion">Redfall es un shooter en primera persona de mundo abierto, con modos en solitario y cooperativos, desarrollado por Arkane Austin, el equipo galardonado responsable de Prey y Dishonored.</p>                      
                                            <span class="precio">$185.000/COP</span>                            
                                        </div>    
                    </div>  
                <div class="producto">
                                    <div class="foto-producto">
                                        <img src="{{ url_for('static',filename='imgs/Muestra.png')}}" alt="Productos">
                                        <h3 class="NameProducto">Redfall</h3>
                                        <p class="descripcion">Redfall es un shooter en primera persona de mundo abierto, con modos en solitario y cooperativos, desarrollado por Arkane Austin, el equipo galardonado responsable de Prey y Dishonored.</p>
                                        <span class="precio">$185.000/COP</span>
                                    </div>    
                    </div>  
                <div class="producto">
                                    <div class="foto-producto">
                                        <img src="{{ url_for('static',filename='imgs/Muestra.png')}}" alt="Productos">
                                        <h3 class="NameProducto">Redfall</h3>
                                        <p class="descripcion">Redfall es un shooter en primera persona de mundo abierto, con modos en solitario y cooperativos, desarrollado por Arkane Austin, el equipo galardonado responsable de Prey y Dishonored.</p>
                                        <span class="precio">$185.000/COP</span>
                                    </div>    
                    </div>
                <div class="producto">
                                    <div class="foto-producto">
                                        <img src="{{ url_for('static',filename='imgs/Muestra.png')}}" alt="Productos">
                                        <h3 class="NameProducto">Redfall</h3>
                                        <p class="descripcion">Redfall es un shooter en primera persona de mundo abierto, con modos en solitario y cooperativos, desarrollado por Arkane Austin, el equipo galardonado responsable de Prey y Dishonored.</p>
                                        <span class="precio">$185.000/COP</span>
                                    </div>
                    </div> 
                <div class="producto"> 
                                    <div class="foto-producto">
                                        <img src="{{ url_for('static',filename='imgs/Muestra.png')}}" alt="Productos">
                                        <h3 class="NameProducto">Redfall</h3>
                                        <p class="descripcion">Redfall es un shooter en primera persona de mundo abierto, con modos en solitario y cooperativos, desarrollado por Arkane Austin, el equipo galardonado responsable de Prey y Dishonored.</p>
                                        <span class="precio">$185.000/COP</span>
                                    </div>
                    </div>        
<!-- Fin Productos -->

            </div>
        </div>
    </section>      
</body>
</html>