<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static',filename='js/funciones.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Perifericos_Style.css')}}">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="navtext">
                <a href="#" onclick="inicio()">Inicio</a>
                <a href="#" onclick="inicio()">Juegos</a>
                <a href="#" onclick="inicio()">Hardware</a>
                <a href="#" onclick="login()"></a>
            </div> 
        </div>
        <label for="" class="logo">
        <a class="logo" href=""><img src="{{ url_for('static',filename='imgs/Logo.png')}}" alt="Logo"></a>
        </label>
    </nav>
    <section class="Contenido">
        <div class="ListaProductos">
            <div class="oferta">

<!-- Productos -->

                <div class="producto">
                                        <div class="foto-producto">
                                            <img src="{{ url_for('static',filename='imgs/mouse.png')}}" alt="Productos">
                                            <h3 class="NameProducto">Mouse Gaming</h3>
                                            <p class="descripcion">Retroiluminación RGB dinámica, de dos zonas: experimenta docenas de preajustes y efectos personalizables para que coincida perfectamente con tu configuración.</p>                      
                                            <span class="precio">$294.000/COP</span>                            
                                        </div>    
                    </div>  
                <div class="producto">
                                    <div class="foto-producto">
                                        <img src="{{ url_for('static',filename='imgs/portatil.png')}}" alt="Productos">
                                        <h3 class="NameProducto">Portatil Gamer</h3>
                                        <p class="descripcion">ASUS ROG Strix G15 Portatil Gamer Ryzen 9 RTX 3070 16GB 1TB, NVIDIA GeForce RTX 3070 8GB GDDR6 con ROG Boost, 
                                            ultimo procesador AMD Ryzen 9 5900HX de 5ª generacion (cache de 16 M, hasta 4.5 GHz), pantalla Full HD 300 Hz 3 ms de 15.6 pulgadas y 1920 x 1080 IPS, 16 GB DDR4 3200 MHz RAM | 1 TB PCIe NVMe M.2 SSD | Windows 10 Home, sistema termico de refrigeracion inteligente ROG con compuesto termico de metal liquido Grizzly.
                                            </p>
                                        <span class="precio">$13.854.000/COP</span>
                                    </div>    
                    </div>  
                <div class="producto">
                                    <div class="foto-producto">
                                        <img src="{{ url_for('static',filename='imgs/audifonos.png')}}" alt="Productos">
                                        <h3 class="NameProducto">Audifonos Gamer</h3>
                                        <p class="descripcion">Auriculares con excelente compatibilidad: este auricular de juego con un conector de audio de 0.138 in es compatible con ps4,   
                                            ps4 pro/slim, xbox one, xbox one s/x, pc, nintendo switch/3ds, psp, ps3, ordenador portátil, ordenador, tableta, ipad, teléfono móvil.</p>
                                        <span class="precio">$94.000/COP</span>
                                    </div>    
                    </div>
                <div class="producto">
                                    <div class="foto-producto">
                                        <img src="{{ url_for('static',filename='imgs/mouse_pad.png')}}" alt="Productos">
                                        <h3 class="NameProducto">Mouse Pad Gamer</h3>
                                        <p class="descripcion">MarcaHavitColorNegroMaterialGomaDimensiones del artículo LxWxH36,3 x 26,5 x 0,3 centímetrosFormaRectangularAcerca de este artículo
                                            Plug and play, no necesita ningún controlador</p>
                                        <span class="precio">$84.900/COP</span>
                                    </div>
                    </div> 
                <div class="producto"> 
                                    <div class="foto-producto">
                                        <img src="{{ url_for('static',filename='imgs/teclado.png')}}" alt="Productos">
                                        <h3 class="NameProducto">Teclado RGB</h3>
                                        <p class="descripcion">Retroiluminación del teclado7 colores
                                            InterfazUSB
                                            Teclas de función12
                                            Tecla de pantalla de inicio de WindowsSÍ
                                            Ciclo de vida de las pulsaciones de teclas2 millones
                                            Longitud del cable1,5 m
                                            Peso745g
                                            Dimensiones (An. x Al. x Pr.)466 x 205 x 30 mm (18,35 x 8,07 x 1,18 pulgadas)</p>
                                        <span class="precio">$152.000/COP</span>
                                    </div>
                    </div>        
<!-- Fin Productos -->

            </div>
        </div>
    </section>      
</body>
</html>